
.pie-chart-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    width: min(800px, 80vw);
    height: auto;
    max-height: 80vh;
    overflow-y: auto;
    border: none;
    border-radius: 10px;
    background-color: #f3f4f6;
    box-shadow: 0 0 15px 2px rgb(0, 0, 0);
    box-sizing: border-box;
    position: relative;
}

.pie-chart-graph-container {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    height: 80%;
}

.pie-chart-inputs-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.pie-chart-inputs-container > .pie-chart-input-container > input {
    margin-top: 12px;
    background-color: #f3f4f6;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px 0.5px rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    height: 20px;
    width: 150px;
    font-size: 16px;
    font-weight: 600;
    padding: 2px;
    margin-left: 5px;
}

.pie-chart-inputs-container > .pie-chart-input-container > label {
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.pie-chart-inputs-container > .pie-chart-input-container > input:focus {
    outline: none !important;
    border: none;
}

.title-login-signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.pie-chart-title {
    color: rgb(0, 0, 0);
    text-align: center;
}

.login-signup-btn {
    color: #f3f4f6;
    font-weight: 600;
    width: fit-content;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
}

.login-signup-container {
    position: absolute;
    background-color: #f3f4f6;
    height: 45%;
    width: 25%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px rgb(0, 0, 0);
    padding: 10px;
    padding-top: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-signup-container > h2 {
    text-align: center;
    font-weight: 600;
    position: absolute;
    top: 10px;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.input-container > input {
    background-color: #f3f4f6;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px 0.5px rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    height: 30px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    padding: 2px;
    margin-top: 2px;
}

.input-container > input:focus {
    outline: none !important;
    border: none;
}

.login-signup-button-container{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 30px;
    position: absolute;
    bottom: 10px;
}

.login-confirm-btn {
    text-align: center;
    font-weight: 600;
    width: 100px;
}

.signup-confirm-btn {
    text-align: center;
    font-weight: 600;
    width: 100px;
}

.save-data-btn {
    position: absolute;
    font-weight: 600;
    bottom: 5px;
    left: 5px;
}

.export-data-btn {
    position: absolute;
    font-weight: 600;
    bottom: 5px;
    right: 5px;
}